[Desktop Entry]
Categories=Settings;Network;
Name=networkmanager_bemenu
GenericName=Networkmanager Settings
Exec=networkmanager_bemenu
Type=Application


